<%- include('../utils/start.ejs',{headerType:'customer'}) %>

</head>
<style>
    .customerSignupBody{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .customerSignUpHeaderHolder{
        width: 100%;
        max-height: 3rem;
    }
    .mainBody{
        width: 100%;
        height: calc(100% - 3rem);
        display: grid;
        place-items: center;
       background: linear-gradient(to bottom right, #f5f8fa, #eaf3fb);
    }
    .contentWrapper{
        width: 30rem;
        border: 1px solid black;
        display: grid;
        gap: 1rem;
        padding: 1.5rem 0rem;
        background: linear-gradient(to bottom right, #ffffff, #f1f5ff);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(18px) saturate(180%);
        -webkit-backdrop-filter: blur(18px) saturate(180%);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
    }
    .pageHeading{
        font-size: 1.5rem;
        text-align: center;
    }
    .buttonHolder{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .moreOptionHolder{
        text-align: center;
    }
    .submitBtnHolder{
        display: grid;
        place-items: center;
        background: -webkit-linear-gradient(to right, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right,  #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 0.5rem;
        height: fit-content;
    }
    .resetBtnHolder{
        display: grid;
        place-items: center;
        background: #3a6186;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #89253e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 0.5rem;
        height: fit-content;
    }

</style>
    <body class="customerSignupBody">
        <%- include('../utils/variablesAndMessageBox.ejs') %>
        <div class="customerSignUpHeaderHolder">
            <%- include('../utils/customerHeader.ejs',{isLoggedIn:false,page:landedPage}) %>
        </div>
        <div class="mainBody">
            <%- include('../utils/emailVerificationPopup.ejs') %>
            <div class="contentWrapper">
                <div class="pageHeading kanit-medium ">Lets Get Started</div>
                <div class="formWrapper">
                    <link rel="stylesheet" href="/styles/preLogin/inputField.css">
                    <form method="post">
                        <%- include('../utils/inputField.ejs',{displayName:'Name',isRequired:true,isTextArea:false,isDisabled:false,inputType:'text',className:'customerName',passwordClassName:''}) %>
                        <%- include('../utils/emailVerification.ejs',{isRequired:true,isDisabled:false}) %>
                        <%- include('../utils/inputField.ejs',{displayName:'Password',isRequired:true,isTextArea:false,isDisabled:false,inputType:'password',className:'customerPassword',passwordClassName:'passwordViewImage'}) %>
                        <%- include('../utils/inputField.ejs',{displayName:'Re-enter Password',isRequired:true,isTextArea:false,isDisabled:false,inputType:'password',className:'customerRePassword',passwordClassName:'rePasswordViewImage'}) %>
                        <%- include('../utils/inputField.ejs',{displayName:'Mobile Number',isRequired:true,isTextArea:false,isDisabled:false,inputType:'number',className:'customerMobileNumber',passwordClassName:''}) %>
                        <br>
                        <div class="buttonHolder">
                            <div class="resetBtnHolder"><button class="button-5">Reset</button></div>
                            <div class="submitBtnHolder"><button class="button-5">Submit</button></div>
                        </div>
                        <br>
                    </form>
                </div>
                <div class="moreOptionHolder kanit-light">Want to sell with us ? <button class="button-4">Signup as Seller</button></div>
            </div>
        </div>
    </body>
</html>

<script>
    const passwordViewImage = document.querySelector('.passwordViewImage');
    const rePasswordViewImage = document.querySelector('.rePasswordViewImage');
    const customerMobileNumber = document.querySelector('.customerMobileNumber');

    
    passwordViewImage.addEventListener('click',()=>{
        if(passwordViewImage.getAttribute('src').includes('view.png')){
            passwordViewImage.setAttribute('src','/images/hide.png');
            document.querySelector('.customerPassword').setAttribute('type','text');
        }else{
            passwordViewImage.setAttribute('src','/images/view.png');
            document.querySelector('.customerPassword').setAttribute('type','password');
        }
    });
    rePasswordViewImage.addEventListener('click',()=>{
        if(rePasswordViewImage.getAttribute('src').includes('view.png')){
            rePasswordViewImage.setAttribute('src','/images/hide.png');
            document.querySelector('.customerRePassword').setAttribute('type','text');
        }else{
            rePasswordViewImage.setAttribute('src','/images/view.png');
            document.querySelector('.customerRePassword').setAttribute('type','password');
        }
    });
    customerMobileNumber.addEventListener('input',()=>{
        if(customerMobileNumber.value.length>10){
            customerMobileNumber.value = String(customerMobileNumber.value).substr(0,10);
        }
    });
</script>