<%- include('../utils/start.ejs',{headerType:'login'}) %>
<!-- your page css here -->
    <link rel="stylesheet" href="/styles/preLogin/inputField.css">
    <link rel="stylesheet" href="/styles/preLogin/loginPage.css">
</head>
<body>
    <div class="loginPageContainer">
        <%- include('../utils/variablesAndMessageBox.ejs') %>
        <div class="loginPageHeaderHolder">
            <%- include('../utils/customerHeader.ejs',{isLoggedIn:false,page:landedPage}) %>
        </div>
        <div class="loginPageMainBody">
            <div class="contentWrapper">
                <div class="pageHeading kanit-medium">Login Here</div>
                <div class="formWrapper">
                    <form>
                        <%- include('../utils/inputField.ejs',{displayName:'EmailId',isRequired:true,isTextArea:false,isDisabled:false,inputType:'email',className:'loginEmailId',passwordClassName:''}) %>
                        <%- include('../utils/inputField.ejs',{displayName:'Mobile No.',isRequired:true,isTextArea:false,isDisabled:false,inputType:'number',className:'loginMobileNo',passwordClassName:''}) %>
                        <%- include('../utils/inputField.ejs',{displayName:'Password',isRequired:true,isTextArea:false,isDisabled:false,inputType:'password',className:'loginPassword',passwordClassName:'passwordViewImage'}) %>

                        <br><br>
                        <div class="buttonHolder">
                            <div class="resetBtnHolder"><button class="button-5" type="reset">Reset</button></div>
                            <div class="submitBtnHolder"><button class="button-5 customerSignUpSubmitBtn" type="button">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>